@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
    overflow: auto;
}

span {
    color: yellowgreen;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;

    color: #000;

}

ul {
    list-style: none;
}

h2 {
    text-align: center;
    margin: 1em 0;
    font-size: 1.5em;
  
    color: #000;
    text-transform: uppercase;
}

h1 {
    text-align: center;
    margin: 2em 0;
    font-size: 2em;
    text-transform: uppercase;
    color: #000;
}

h3 {
    margin-bottom: 1em;
}

.btn {
    padding: 10px 20px;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1em;
}

form .form-group {
    margin-bottom: 1rem;
}

form .form-control {
    padding: 5px;
    width: 100%;
    display: block;
    background: #fff;
}

form button {
    width: 100%;
}

.button-1 {
    background: blue;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.button-2 {
    background: rgb(255, 255, 255);
    border: 1px solid violet;
    color: rgb(2, 2, 2);
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: .5em;
}

.button-3 {
    background: #000;
    color: white;
    padding: 10px 20px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
}

.button-4 {
    background: rgb(3, 109, 24);;
    color: #fff;
    padding: 3px 20px;
    text-align: center;
    letter-spacing: 2px;
    border-radius: 4px;
    cursor: pointer;
}

::placeholder {
    font-family: "Font Awesome 5 free";
    font-weight: 600;
    content: "\f007";
    text-align: right;
}

/* mainheader */

#mainheader {
    background: url("/img/background.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 650px;
}

/* navbar */
.navbar .logo {
    float: left;
    text-align: center;
    margin: 0 auto;
    display: block;
    margin-top: .5em;
}

.navbar ul {
    float: right;
    margin-top: 2em;
}

.navbar ul li {
    display: inline-block;
    margin-left: 2em;
}

/* showcase */

#showcase h1 {
    margin-top: 9em;
    text-align: center;
    margin-bottom: .5em;
}

#showcase .button-1 {
    display: block;
    text-align: center;
    margin: 0 auto;
}

/* services */
#services h2 {
    font-size: 5em;
    font-weight: lighter !important;
    color: #000;
    text-align: left;
    margin-bottom: 1em;
}

.services-card-1 {
    float: left;
    width: 40%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.services-card-2 {
    float: right;
    width: 40%;
    margin-top: 1em;
    margin-bottom: 1em;
}

/* contact */

#contact {
    background: #6d6565;
}
#contact form {
width: 60%;
margin: 0 auto;
}

#footer {
    text-align: center;
    margin: 2em 0;
}
